name: API Automation Report

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle Wrapper
        working-directory: ./Api-test
        run: chmod +x gradlew

      - name: Use Gradle 8.3
        run: ./Api-test/gradlew wrapper --gradle-version 8.3

      - name: Run API Tests
        working-directory: ./Api-test
        run: ./gradlew clean test

      - name: Generate Allure Report
        working-directory: ./Api-test
        run: ./gradlew allureReport

      - name: Serve Allure Report (Optional)
        working-directory: ./Api-test
        run: ./gradlew allureServe
